
<body>
  <header class="page-header">
    <div class="page-wrapper grid-flex v-align-middle grid-title">
            <div class="column">
              <h1 class="logo"><a href="{{ site.baseurl }}/">TECH RADAR</a></h1>
            </div>
            <div class="column">
                {% include search.html %}
            </div>

            <div class="column text-right">
              <ul class="list-social">
                <li><a href="https://twitter.com/xgeeksio" class="link-twitter" target="_blank"><i class="fab fa-twitter" aria-label="hidden"></i></a></li>
                <li><a href="https://www.linkedin.com/company/xgeeks/" target="_blank" class="link-linkedin"><i class="fab fa-linkedin" aria-label="hidden"></i></a></li>
              </ul>
            </div>
    </div>
  </header>
