<!doctype html>
<html lang="en">
<head>
  <title>Tech radar</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="apple-touch-icon" sizes="144x144" href="{{ site.baseurl }}/assets/images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/assets/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/assets/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="{{ site.baseurl }}/assets/images/favicon/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ce2121">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">

  <meta name="author" content="AgilePartner">
  <meta name="description" content="This site can be used to organize your technology watch inside your companies.">

  <meta property="og:url"                content="" />
  <meta property="og:type"               content="Website" />
  <meta property="og:title"              content="Tech radar" />
  <meta property="og:description"        content="This site can be used to organize your technology watch inside your companies." />
  <meta property="og:image"              content="{{ site.baseurl }}/assets/images/crafts-poster.png" />
  
  <meta name="radar-csv" property="radar-csv"  content="{{ site.url }}{{ site.baseurl }}/assets/radar.csv" />
  
  <link href='//fonts.googleapis.com/css?family=Nunito:400,300,600,700,800,900,300italic,600italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/buddy.plugins.min.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/style.css">

  <script type="text/javascript" src="{{ site.baseurl }}/assets/js/buddy.js"></script>
</head>
