<div class="input">
    <div class="input-search">
        <form action="{{ site.baseurl }}/search.html" method="get">
            <div class="input-search">
                <input type="text" id="search-box" name="query">
                <button type="submit" class="btn-square bg-main-color" data-modal="modal-search-results"><i class="fas fa-search"></i></button>
            </div>         
        </form>
    </div>
</div>

<script>
  window.store = {
      {% for collection in site.collections %}
        {% assign collectionName = collection.label %}
          {% unless collectionName == "posts" %}
            {% for page in site.[collectionName] %}
                "{{ page.url | slugify }}": {
                  "title": "{{ page.title | xml_escape }}",
                  "category": "{{ page.category | xml_escape }}",
                  "content": {{ page.content | strip_html | strip_newlines | jsonify }},
                  "url": "{{ site.baseurl }}/{{ page.url | xml_escape }}"
                } {% unless forloop.last %},{% endunless %}
            {% endfor %}
            {% unless forloop.last %},{% endunless %}
          {% endunless %}
      {% endfor %}
    }
</script>
<script src="{{ site.baseurl }}/assets/js/lunr.js"></script>
<script src="{{ site.baseurl }}/assets/js/search.js"></script>