.page-radar {
  //background-image: url('../images/wave-6.jpg');
  background-repeat: no-repeat;
  background-size: 50%;
  position: relative;
  min-height: calc(100vh - 17rem);
  z-index: 1;

  .home-link {
    display: block;
    max-width: 50%;
    margin: auto;
    text-align: center;
    &:hover {text-decoration: underline;}
  }

  &:before {
    @include position(absolute, 0,0,0,0);
    content: "";
    background-image: url('../images/wave-7.jpg');
    background-repeat: no-repeat;
    z-index: -1;
    background-size: 20%;
    background-position: right bottom;
  }

  ul {
    margin-bottom: 3rem;
     li {
      position: relative;
      padding-left: 2rem;
      margin-bottom: 1rem;

      a:hover {text-decoration: underline;}

      .blip-list-item {
        color: $main-color;

        &.highlight {
          background-color: transparent!important;
          text-decoration: underline;
          color: $main-color!important;
        }
      }

      ul {margin-top: 1rem;margin-bottom: 0;}
    }
  }

  .quadrant-table {
    h3 {
      color: $gray-darkest;
    }
  }

  @media(max-width: 767px) {

    background-size: 100%;
    &:before {content: none;}

    .grid-flex {
      .column {
        max-width: 100%;
        flex: 0 0 100%;

        &:first-child {text-align: center;}
      }
    }

    margin-top: 5rem;
    padding-bottom: 0;
  }
}
