---
title: Radar
layout: radar
---
<head><link href="main.719059a0f7a50dcd153e.css" rel="stylesheet"></head><body>

  <main class="page-single-card">
    <radar></radar>
  </main>

    <div class="page-modals" id="pageModals" tabindex="-1" role="dialog" aria-hidden="true">
      <div id="pageModalsOverlayer"></div>

      {% for item in site.techniques %}
        {% include modal.html name=item.name content=item.content filename=item.filename image=item.image category=item.category ring=item.ring %}
      {% endfor %}

      {% for item in site.languages-frameworks %}
        {% include modal.html name=item.name content=item.content filename=item.filename image=item.image category=item.category ring=item.ring %}
      {% endfor %}

      {% for item in site.tools %}
        {% include modal.html name=item.name content=item.content filename=item.filename image=item.image category=item.category ring=item.ring %}
      {% endfor %}

      {% for item in site.platforms %}
        {% include modal.html name=item.name content=item.content filename=item.filename image=item.image category=item.category ring=item.ring %}
      {% endfor %}
    </div>

  <script type="text/javascript" src="main.719059a0f7a50dcd153e.js"></script></body>