{% include head.html %} {% include header.html %}

<main class="page-radar">
  <div class="page-wrapper">
    <div class="grid-flex v-align-middle grid-title">
      <div class="column">
        <h1 class="m-0">{{ page.title }}</h1>
      </div>
      <div class="column text-right">
        <a
          href="{{ site.baseurl }}/{{page.category | downcase}}/"
          class="btn bg-gradient-main-color fa-arrow-left left link-homepage"
          >Back to {{ page.category }}</a
        >
      </div>
    </div>

    <div class="grid-flex">
      <div class="column w-25"><img src="{{page.image}}" /></div>
      <div class="column">{{ content }}</div>
      {% include share.html name=page.name content=page.content filename=page.filename category=page.category %}
    </div>
  </div>
</main>

{% include footer.html %}
